.footer{
    display: flex;
    flex-direction: row;
}

.coluna{
    display: flex;
    flex-direction: column;
}
.subscribe {
    display: flex;
    flex-direction: row;
}
.linha{
    width: 3px;
    background-color: blue;
    display: flex;
    flex-direction: row;
}