.grade{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texto{
    display: flex;
    flex-direction: row;
}
.retangulo{
    display: flex;
    flex-direction: row;
}
.junto{
    display: flex;
    flex-direction: row;
}

.icone0{
    width: 60px;
}

.box{
    display: flex;
    flex-direction: row-reverse;
}

.faixa{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.textoP4{

    margin-right: 10px;

}

