.preco{
    display: flex;
    
}

.gradeP3{
    display: flex;
    flex-direction: row;
}

img {
    width: 285px;
}

.linha{
    display: flex;
    flex-direction: row;
}

.ret2{
    display: flex;
    flex-direction: column;
}