.grade{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FCF8F3;
    
}

.texto4{
    display: flex;
    flex-direction: column;
}
.junto{
    display: flex;
    flex-direction: row;
}

.icone0{
    width: 60px;
}

.box{
    display: flex;
    flex-direction: row-reverse;
    margin: 24px;
}

.faixa{
    display: flex;
    flex-direction: row-reverse;
    background-color: #FAF3EA;
}
.tituloP4{
    margin-right: 10px;
    font-size: 40px;
    font-weight: 700;
}
.produto4 {
    margin: 12px;
    padding: 0%;
}

.bolinhas{
    width: 120px;
}

.linha{
    margin-bottom: 40px;
    padding-right: 0%;
}

.ti4{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
}

.sub4{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #898989;
}


.meio1{
    width: 404px;
    height: 582px;
}
.meio2{
    width: 404px;
    height: 582px;
}

.vazia{
    width: 280px;
}
